<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <!-- CSS Implementing Plugins -->
    <link  rel="stylesheet" href="../../assets/jquery-ui/jquery-ui.min.css">

    <!-- jQuery UI Core -->
    <script  src="../../assets/jquery-ui/jquery-ui.core.js"></script>
    <!-- jQuery UI Helpers -->
    <script  src="../../assets/jquery-ui/ui/widgets/menu.js"></script>
    <script  src="../../assets/jquery-ui/ui/widgets/mouse.js"></script>
    <!-- jQuery UI Widgets -->
    <script  src="../../assets/jquery-ui/ui/widgets/autocomplete.js"></script>
    <!-- JS Unify -->
    <script  src="../../assets/js/components/hs.autocomplete.js"></script>

    <!-- JS Plugins Init. -->
    <script >
      $(document).on('ready', function () {
          // initialization of autocomplet
          $.HSCore.components.HSAutocomplete.init('#autocomplete2');
        });
    </script>
  </head>
  <body>

  </body>
</html>
<!-- End Border Dashed Tagline -->
<h2>Sign up</h2>
<hr />
<!-- General Forms -->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" )do |f| %>
  <%= devise_error_messages! %>
      <!-- Text Input with Left Appended Icon -->
      <div class="form-group g-mb-20">
        <%= f.label :email, class: "g-mb-10" %>
        <div class="input-group g-brd-primary--focus">
          <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
            <i class="icon-user"></i>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-md rounded-0", type: "email", placeholder: "Input your email" %>
        </div>
      </div>

      <!-- End Text Input with Left Appended Icon -->

      <!-- Text Input with Both Appended Icon -->
      <div class="form-group g-mb-20">
        <label class="g-mb-10">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </label>
        <div class="input-group g-brd-primary--focus">
          <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
            <i class="icon-user-follow"></i>
          </div>
          <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-md rounded-0", type: "password", placeholder: "Input your password" %>
          <div class="input-group-addon rounded-0 d-flex align-items-center g-color-gray-light-v1 g-bg-white">
            <i class="icon-lock"></i>
          </div>
        </div>
      </div>

      <div class="form-group g-mb-20">
        <label class="g-mb-10">
          <%= f.label :password_confirmation %><br />
        </label>
        <div class="input-group g-brd-primary--focus">
          <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
            <i class="icon-user-follow"></i>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-control-md rounded-0", type: "password", placeholder: "Input password again" %>
          <div class="input-group-addon rounded-0 d-flex align-items-center g-color-gray-light-v1 g-bg-white">
            <i class="icon-lock"></i>
          </div>
        </div>
      </div>
        <%= f.submit "SIGN UP", class: "btn btn-md u-btn-outline-gradient-v1 g-mr-10 g-mb-15" %>
      <!-- End Text Input with Both Appended Icon -->
    </form>
    <!-- End General Forms -->
    <% end %>

    <%= render "devise/shared/links" %>
