<!-- Icon Blocks -->
<section class="text-center">
  <div class="row no-gutters">
    <!-- Icon Blocks -->
    <div class="col-lg-4 u-bg-overlay g-bg-img-hero g-bg-cyan-opacity-0_9--after g-color-white text-center g-pa-60">
      <div class="u-bg-overlay__inner">
        <span class="u-icon-v2 u-icon-size--lg u-shadow-v24 rounded-circle g-mb-25">
            <i class="icon-finance-226 u-line-icon-pro"></i>
          </span>
        <h3 class="h5 text-uppercase g-font-weight-600 g-mb-15">
          <%= t 'iconblock.investment_title' %>
        </h3>
        <p class="g-font-size-16 g-mb-20">
          <%= t 'iconblock.investment_content' %>
        </p>
        <%= link_to 'Contact Us', "mailto:btd.bonkyoung@gmail.com", class: "btn u-shadow-v21 g-bg-white g-color-cyan g-color-white--hover g-bg-white-opacity-0_4--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20"  %>
      </div>
    </div>
    <!-- End Icon Blocks -->

    <!-- Icon Blocks -->
    <div class="col-lg-4 u-bg-overlay g-bg-img-hero g-bg-purple-opacity-0_9--after g-color-white text-center g-pa-60">
      <div class="u-bg-overlay__inner">
        <span class="u-icon-v2 u-icon-size--lg u-shadow-v24 rounded-circle g-mb-25">
            <i class="icon-finance-196 u-line-icon-pro"></i>
          </span>
        <h3 class="h5 text-uppercase g-font-weight-600 g-mb-15">
          <%= t 'iconblock.idea_title' %>
        </h3>
        <p class="g-font-size-16 g-mb-20">
          <%= t 'iconblock.idea_content' %>
        </p>
          <%= link_to 'Contact Us', posts_board_path, class: "btn u-shadow-v21 g-bg-white g-color-purple g-color-white--hover g-bg-white-opacity-0_4--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20"  %>
      </div>
    </div>
    <!-- End Icon Blocks -->

    <!-- Icon Blocks -->
    <div class="col-lg-4 u-bg-overlay g-bg-img-hero g-bg-teal-opacity-0_9--after g-color-white text-center g-pa-60">
      <div class="u-bg-overlay__inner">
        <span class="u-icon-v2 u-icon-size--lg u-shadow-v24 rounded-circle g-mb-25">
            <i class="icon-finance-147 u-line-icon-pro"></i>
          </span>
        <h3 class="h5 text-uppercase g-font-weight-600 g-mb-15">
          <%= t 'iconblock.survey_title' %>
        </h3>
        <p class="g-font-size-16 g-mb-20">
          <%= t 'iconblock.survey_content' %>
        </p>
        <a class="btn u-shadow-v21 g-bg-white g-color-teal g-color-white--hover g-bg-white-opacity-0_4--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20" href="#!">Contact Us</a>
      </div>
    </div>
    <!-- End Icon Blocks -->
  </div>
</section>
