<!-- Header -->
<header id="js-header" class="u-header u-header--static">
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
    <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span class="hamburger hamburger--slider">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
          </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a class="navbar-brand">
            <img src="/assets/fandorabox.png" alt="Image Description">
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
          <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
            <!-- Intro -->
            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
              <%= link_to root_path, class: "nav-link g-py-7 g-px-0"  do %>
                <%= t 'nav_home' %>
              <% end  %>
            </li>
            <!-- End Intro -->

            <!-- Home -->
            <li class="nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut" data-max-width="60%" data-position="left">
              <%= link_to posts_board_path, class: "nav-link g-py-7 g-px-0", id: "mega-menu-home", :'aria-haspopup'=>"true", :'aria-expanded'=>"false"  do %>
                <%= t 'nav_post' %>
              <% end  %>
              <!-- End Mega Menu -->
            </li>
            <!-- End Home -->

            <!-- Pages -->
            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
              <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">
                <%= t 'nav_language' %>
              </a>
              <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                <!-- Pages - About -->
                  <li class="dropdown-item hs-has-sub-menu ">
                    <%= content_tag :li do%>
                      <%= link_to 'Korean', "/ko", id: "nav-link--pages--about", class: "nav-link", :"aria-haspopup" => "true", :"aria-expanded" => "false", :"aria-controls"=> "nav-submenu--pages--about", locale: :ko, method: :get%>
                    <% end unless current_page?(locale: :ko)%>
                  </li>
                <!-- End Pages - About -->

                <!-- Pages - Portfolios -->
                  <li class="dropdown-item hs-has-sub-menu ">
                    <%= content_tag :li do%>
                      <%= link_to 'English', "/en", id: "nav-link--pages--portfolio", class: "nav-link", :"aria-haspopup" => "true", :"aria-expanded" => "false", :"aria-controls"=> "nav-submenu--pages--portfolio", locale: :en, method: :get%>
                    <% end unless current_page?(locale: :en)%>
                  </li>
                <!-- End Pages - Portfolios -->

                <!-- Pages - Login &amp; Signup -->
                  <li class="dropdown-item hs-has-sub-menu ">
                    <%= content_tag :li do%>
                      <%= link_to 'Chinese', "/zh-CN", id: "nav-link--pages--portfolio", class: "nav-link", :"aria-haspopup" => "true", :"aria-expanded"=> "false", :"aria-controls"=> "nav-submenu--pages--signup", locale: :'zh-CN', method: :get%>
                    <% end unless current_page?(locale: :'zh-CN')%>
                  </li>
                <!-- End Pages - Login &amp; Signup -->

                <!-- Pages - Services -->
                  <li class="dropdown-item hs-has-sub-menu ">
                    <%= content_tag :li do%>
                      <%= link_to 'Japanese', "/ja", id: "nav-link--pages--services", class: "nav-link", :"aria-haspopup"=> "true", :"aria-expanded"=> "false", :"aria-controls"=> "nav-submenu--pages--services", locale: :ja, method: :get%>
                    <% end unless current_page?(locale: :ja)%>
                  </li>
                <!-- End Pages - Services -->
              </ul>
            </li>
            <!-- End Pages -->
            <!-- Logi in & Log out -->
            <% if user_signed_in? %>
            <li class="nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut" data-max-width="60%" data-position="left">
              <%= link_to destroy_user_session_path, data: {confirm:"Are you sure?"}, class: "nav-link g-py-7 g-px-0", id: "mega-menu-home", :aria => {:haspopup => "true", :expanded => "false"}, method: :delete  do %>
                <%= t 'nav_signout' %>
              <% end  %>
            </li>
            <!-- End Mega Menu -->
            <% else %>
            <li class="nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut" data-max-width="60%" data-position="left">
              <%= link_to new_user_session_path, class: "nav-link g-py-7 g-px-0", id: "mega-menu-home", :aria => {:haspopup => "true", :expanded => "false"} do %>
                <%= t 'nav_signin' %>
              <% end  %>
              <!-- End Mega Menu -->
            </li>
            <% end %>
            <!-- End Home -->
          </ul>
        </div>
        <!-- End Navigation -->
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->
