<!-- Section 1 -->
<section class="g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-mb-50--md g-mb-0--md">
        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
          <h2 class="h1 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-700">
            <%= t 'introduction.first_title' %>
          </h2>
        </div>

        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.first_content1' %>
          <br />
          <%= t 'introduction.first_content2' %>
          <strong><%= t 'introduction.first_content3' %></strong>
        </div>
      </div>

      <div class="col-md-6 align-self-center text-center g-overflow-hidden">
        <%= image_tag("mockup.png", class: "img-fluid w-75", alt: "Image Description", data: {animation: "fadeInUp", :'animation-delay'=>"0", :'animation-duration'=> "1000"}) %>
      </div>
    </div>
  </div>
</section>
<!-- End Section 1 -->

<!-- Section 2 -->
<section class="g-bg-blue g-color-white g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center text-center g-overflow-hidden g-mb-50--md g-mb-0--md">
        <%= image_tag("service_flow.png", class: "img-fluid w-75", alt: "Image Description", data: {animation: "fadeInUp", :'animation-delay' => "0", :'animation-duration'=> "1000"}) %>
      </div>

      <div class="col-md-6 align-self-center">
        <div class="u-heading-v2-3--bottom g-brd-white g-mb-30">
          <h2 class="h1 u-heading-v2__title text-uppercase g-font-weight-700">
            <%= t 'introduction.second_title' %>
          </h2>
        </div>

        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.second_content1' %>
          <br />
          <strong><%= t 'introduction.second_content2' %></strong>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section 2 -->

<!-- Section 4 -->
<section class="g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-mb-50--md g-mb-0--md">
        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
          <h2 class="h1 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-700">
            <%= t 'introduction.third_title' %>
          </h2>
        </div>

        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.third_content' %>
        </div>
      </div>
      <div class="col-md-6 align-self-center text-center g-overflow-hidden">
        <%= image_tag("choose_project.png", class:"img-fluid w-75", alt: "Image Description", data: {animation: "fadeInUp", :'animation-delay'=>"0", :'animation-duration'=>"1000"}) %>
      </div>
    </div>
  </div>
</section>
<!-- End Section 4 -->

<!-- Section 5 -->
<section class="g-bg-cyan g-color-white g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center text-center g-overflow-hidden g-mb-50 g-mb-0--md">
        <%= image_tag("funding_page.png", class:"img-fluid w-75", alt: "Image Description", data: {animation: "fadeInUp", :'animation-delay'=>"0", :'animation-duration'=>"1000"}) %>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="u-heading-v2-3--bottom g-brd-white g-mb-30">
          <h2 class="h1 u-heading-v2__title text-uppercase g-font-weight-700">
            <%= t 'introduction.fourth_title' %>
          </h2>
        </div>
        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.fourth_content' %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section 5 -->

<!-- Section 6 -->
<section class="g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-mb-50--md g-mb-0--md">
        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
          <h2 class="h1 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-700">
            <%= t 'introduction.fifth_title' %>
          </h2>
        </div>

        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.fifth_content' %>
        </div>

        <%= link_to new_user_registration_path, class: "btn u-btn-primary u-shadow-v21 g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-15 g-px-25 g-mr-15 g-mb-10 g-mb-0--sm" do %>
          <i class="icon-layers g-pos-rel g-top-1 g-mr-5"></i>
          <%= t 'introduction.reservation' %>
        <% end %>
        <small class="d-block d-sm-inline-block g-color-gray-dark-v5 g-font-size-12">
          <%#= t 'introduction.reservation_content' %>
        </small>
      </div>

      <div class="col-md-6 align-self-center text-center g-overflow-hidden">
        <%= image_tag("choose_project.png", class:"img-fluid w-75", alt: "Image Description", data: {animation: "fadeInUp", :'animation-delay'=>"0", :'animation-duration'=>"1000"}) %>
      </div>
    </div>
  </div>
</section>
<!-- End Section 6 -->
