<!-- Section 1 -->
<section class="g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-mb-50--md g-mb-0--md">
        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
          <h2 class="h1 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-700">
            <%= t 'introduction.first_title' %>
          </h2>
        </div>

        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.first_content1' %>
          <br />
          <%= t 'introduction.first_content2' %>
          <strong><%= t 'introduction.first_content3' %></strong>
        </div>

        <a href="#!" class="btn u-btn-primary u-shadow-v21 g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-15 g-px-25 g-mr-15 g-mb-10 g-mb-0--sm">
          <i class="icon-layers g-pos-rel g-top-1 g-mr-5"></i> Buy Full Version
        </a>
        <small class="d-block d-sm-inline-block g-color-gray-dark-v5 g-font-size-12">*Exclusive item on Wrapboostrap Marketpalce</small>
      </div>

      <div class="col-md-6 align-self-center text-center g-overflow-hidden">
        <img class="img-fluid w-75" src="../../assets/img/service_img/screenshot1.png" alt="Image Description" data-animation="fadeInUp" data-animation-delay="0" data-animation-duration="1000">
      </div>
    </div>
  </div>
</section>
<!-- End Section 1 -->

<!-- Section 2 -->
<section class="g-bg-purple g-color-white g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center text-center g-overflow-hidden g-mb-50--md g-mb-0--md">
        <img class="img-fluid w-75" src="../../assets/img/service_img/flow_final.png" alt="Image Description" data-animation="fadeInUp" data-animation-delay="0" data-animation-duration="1000">
      </div>

      <div class="col-md-6 align-self-center">
        <div class="u-heading-v2-3--bottom g-brd-white g-mb-30">
          <h2 class="h1 u-heading-v2__title text-uppercase g-font-weight-700">
            <%= t 'introduction.second_title' %>
          </h2>
        </div>


        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.second_content1' %>
          <br />
          <strong><%= t 'introduction.second_content2' %></strong>
        </div>

        <a href="#!" class="btn u-shadow-v21 g-bg-white-opacity-0_2 g-color-white g-brd-white--hover g-color-purple--hover g-bg-white--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-15 g-px-25 g-mr-15 g-mb-10 g-mb-0--sm">
          <i class="icon-wallet g-pos-rel g-top-1 g-mr-5"></i> Buy Full Version
        </a>
        <small class="d-block d-sm-inline-block g-color-white-opacity-0_8 g-font-size-12">*Exclusive item on Wrapboostrap Marketpalce</small>
      </div>
    </div>
  </div>
</section>
<!-- End Section 2 -->

<!-- Section 4 -->
<section class="g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-mb-50--md g-mb-0--md">
        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
          <h2 class="h1 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-700">
            <%= t 'introduction.third_title' %>
          </h2>
        </div>

        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.third_content' %>
        </div>

        <a href="#!" class="btn u-btn-primary u-shadow-v21 g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-15 g-px-25 g-mr-15 g-mb-10 g-mb-0--sm">
          <i class="icon-speedometer g-pos-rel g-top-1 g-mr-5"></i> Buy Full Version
        </a>
        <small class="d-block d-sm-inline-block g-color-gray-dark-v5 g-font-size-12">*Exclusive item on Wrapboostrap Marketpalce</small>
      </div>

      <div class="col-md-6 align-self-center text-center g-overflow-hidden">
        <img class="img-fluid w-75" src="../../assets/img/service_img/screenshot1.png" alt="Image Description" data-animation="fadeInUp" data-animation-delay="0" data-animation-duration="1000">
      </div>
    </div>
  </div>
</section>
<!-- End Section 4 -->

<!-- Section 5 -->
<section class="g-bg-pink g-color-white g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center text-center g-overflow-hidden g-mb-50 g-mb-0--md">
        <img class="img-fluid w-75" src="../../assets/img/service_img/screenshot2.png" alt="Image Description" data-animation="fadeInUp" data-animation-delay="0" data-animation-duration="1000">
      </div>

      <div class="col-md-6 align-self-center">
        <div class="u-heading-v2-3--bottom g-brd-white g-mb-30">
          <h2 class="h1 u-heading-v2__title text-uppercase g-font-weight-700">
            <%= t 'introduction.fourth_title' %>
          </h2>
        </div>


        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.fourth_content' %>
        </div>

        <a href="#!" class="btn u-shadow-v21 g-bg-white-opacity-0_2 g-color-white g-brd-white--hover g-color-pink--hover g-bg-white--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-15 g-px-25 g-mr-15 g-mb-10 g-mb-0--sm">
          <i class="icon-handbag g-pos-rel g-top-1 g-mr-5"></i> Buy Full Version
        </a>
        <small class="d-block d-sm-inline-block g-color-white-opacity-0_8 g-font-size-12">*Exclusive item on Wrapboostrap Marketpalce</small>
      </div>
    </div>
  </div>
</section>
<!-- End Section 5 -->

<!-- Section 6 -->
<section class="g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center g-mb-50--md g-mb-0--md">
        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
          <h2 class="h1 u-heading-v2__title g-color-gray-dark-v2 text-uppercase g-font-weight-700">
            <%= t 'introduction.fifth_title' %>
          </h2>
        </div>

        <div class="g-font-size-18 g-line-height-2 g-mb-30">
          <%= t 'introduction.fifth_content' %>
        </div>

        <a href="#!" class="btn u-btn-primary u-shadow-v21 g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-15 g-px-25 g-mr-15 g-mb-10 g-mb-0--sm">
          <i class="icon-pie-chart g-pos-rel g-top-1 g-mr-5"></i> Buy Full Version
        </a>
        <small class="d-block d-sm-inline-block g-color-gray-dark-v5 g-font-size-12">*Exclusive item on Wrapboostrap Marketpalce</small>
      </div>

      <div class="col-md-6 align-self-center text-center g-overflow-hidden">
        <img class="img-fluid w-75" src="../../assets/img/service_img/screenshot4.png" alt="Image Description" data-animation="fadeInUp" data-animation-delay="0" data-animation-duration="1000">
      </div>
    </div>
  </div>
</section>
<!-- End Section 6 -->
