<div class="btn">
  <%= link_to new_post_path, class: "btn u-btn-outline-darkgray rounded-0 g-mr-10 g-mb-15" do %>
    <%= t 'post.new' %>
  <% end %>
</div>

<!-- Table Striped Rows -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Number</th>
        <th>Email</th>
        <th class="hidden-sm">Title</th>
        <th>Content</th>
        <th>Created_at</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <% board_num = 1 %>
      <% @posts.each do |post| %>
      <tr>
        <td><%= board_num %></td>
        <td><%= post.user.email %></td>
        <td class="hidden-sm"><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.created_at %></td>
        <td>
          <%= link_to post do %>
            <%= t 'post.show' %>
          <% end %>
        </td>
      </tr>
      <% board_num += 1 %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- End Table Striped Rows -->

<!-- End Striped Rows -->
