<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Title -->
  <meta charset="utf-8">
  <title>Fanding Landing Page</title>
</head>
<body>
  <main>
    <!-- Header & Nav -->
    <%= render partial: 'shared/header' %>
    <!-- Slider -->
    <%= render partial: 'shared/slider' %>
    <!-- Main Section -->
    <%= render partial: 'shared/main' %>
    <!-- Icon Blocks-->
    <%= render partial: 'shared/block' %>
    <!-- JS -->
    <%= render partial: 'shared/style' %>
</body>
</html>
