<!-- Table Striped Rows -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th class="hidden-sm">Title</th>
        <th>Content</th>
        <th>Created_at</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @post.user.email %></td>
        <td>  <%= @post.title %></td>
        <td class="hidden-sm">  <%= @post.content %></td>
        <td><%= @post.created_at %></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- End Table Striped Rows-->
<%= link_to 'Edit', edit_post_path(@post), class: "btn u-btn-outline-darkgray rounded-0 g-mr-10 g-mb-15" %>
<%= link_to 'Back', posts_board_path, class: "btn u-btn-outline-darkgray rounded-0 g-mr-10 g-mb-15" %>
